@page "/applications/{referenceNumber}/{taskId?}/{pageId?}/upload-file"
@model DfE.ExternalApplications.Web.Pages.FormEngine.UploadFileModel
@{
    ViewData["Title"] = "Upload File";
    ViewData["applicationId"] = Model.ApplicationId;
    ViewData[$"{Model.FieldId}_Files"] = Model.Files;
    ViewData[$"{Model.FieldId}_UploadSuccess"] = Model.SuccessMessage;
    ViewData[$"{Model.FieldId}_UploadError"] = Model.ErrorMessage;
}
<govuk-back-link href="/applications/@Model.ReferenceNumber/@Model.TaskId/@Model.CurrentPageId" />
<h1 class="govuk-heading-xl">Upload File</h1>

@{
    var field = new DfE.ExternalApplications.Domain.Models.Field
    {
        FieldId = Model.FieldId,
        Type = "complexField",
        Order = 1,
        Label = new DfE.ExternalApplications.Domain.Models.Label { Value = "Upload Files" }
    };
}
@await Html.PartialAsync("~/Views/Shared/Fields/_UploadComplexField.cshtml", new DfE.ExternalApplications.Web.Services.FieldViewModel(field, "Data", "", "")) 