@page "/application-submitted/{referenceNumber}"
@model ApplicationSubmittedModel
@{
    ViewData["Title"] = "Application submitted";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Application submitted</h1>
            <div class="govuk-panel__body">
                Your reference number<br>
                <strong>@Model.ReferenceNumber</strong>
            </div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">We've sent you a confirmation email with your reference number.</p>

        <p class="govuk-body">A Department for Education staff member will get in touch with you about your application.</p>

        <p class="govuk-body">A Regional Director will make a decision on your application within 3 months.</p>

        <p class="govuk-body">
            <a href="/applications/dashboard" class="govuk-link">Track your application</a>.
        </p>

        <h2 class="govuk-heading-m">Contact us</h2>

        <p class="govuk-body">If you have any questions about your application, you can contact the Department for Education staff member who will get in touch with you.</p>

        <p class="govuk-body">You can also contact the academies team:</p>

        <p class="govuk-body">
            Email: <a href="mailto:academies.enquiry@education.gov.uk" class="govuk-link">academies.enquiry@education.gov.uk</a><br>
            Telephone: 0800 000 000<br>
            Monday to Friday, 9am to 5pm (except public holidays)
        </p>
    </div>
</div>