@page
@model DfE.ExternalApplications.Web.Pages.Error.GeneralModel
@{
    var id = TempData["ApiErrorId"] as string;
}
<div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
            <p class="govuk-body">Please tell support this error ID: <strong>@id</strong></p>
        </div>
    </div>
</div>
