@page
@using GovUk.Frontend.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.Authorization
@addTagHelper *, GovUK.Dfe.CoreLibs.Security
@model IndexModel
@inject IAuthorizationService AuthService

@{
    ViewData["Title"] = "Apply to transfer an academy into your trust";
}

<style>
  .gem-c-contents-list__list-item--dashed {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
  }

  .gem-c-contents-list__list-item--dashed .gem-c-contents-list__list-item-dash::before {
    content: "—";
    margin-right: 8px;
  }

  .govuk-main-wrapper h2 {
    margin: 0 0 20px 0 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 27px !important;
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 1.1904761905;
  }
</style>

<main role="main" id="content" class="detailed-guide govuk-main-wrapper" lang="en">
  <span id="Top"></span>




  <div class="govuk-grid-row gem-print-columns-none">
    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-heading govuk-!-margin-bottom-8">
        <span class="govuk-caption-xl gem-c-heading__context">
          Guidance
        </span>


        <h1 class="gem-c-heading__text govuk-heading-l">
          Apply to transfer an academy into your trust
        </h1>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p class="gem-c-lead-paragraph govuk-body-l">
        Make an application to transfer one or more academies into your trust.
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="metadata-logo-wrapper gem-print-columns-none " style="border-top: 1px solid #b1b4b6;">
      <div class="govuk-grid-column-two-thirds metadata-column">
        <div data-module="metadata" class="gem-c-metadata" style="margin-bottom: 40px;" data-metadata-module-started="true">
          <dl class="gem-c-metadata__list">
            <dt class="gem-c-metadata__term govuk-body-s" style="float: inline-start;">From: </dt>
            <dd class="gem-c-metadata__definition govuk-body-s" data-module="gem-toggle" data-gem-toggle-module-started="true">
              <a class="govuk-link" href="/government/organisations/department-for-education">Department for
                Education</a>

            </dd>
          </dl>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>



  <div data-button-location="top" data-button-text-subscribe="Get emails about this page"
    data-button-text-unsubscribe="Stop getting emails about this page" data-module="ga4-link-tracker"
    class="gem-c-single-page-notification-button govuk-!-display-none-print govuk-!-margin-bottom-6"
    data-ga4-link-tracker-module-started="true">
    <form action="/email/subscriptions/single-page/new" method="POST">
      <input type="hidden" name="base_path" value="/guidance/apply-to-transfer-an-academy-to-another-trust">
      <button class="govuk-body-s gem-c-single-page-notification-button__submit" style="padding: 10px; background: none;margin: 0; border: 1px solid #505a5f;" type="submit"
        data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;subscribe&quot;,&quot;index_link&quot;:1,&quot;index_total&quot;:2,&quot;section&quot;:&quot;Top&quot;,&quot;url&quot;:&quot;/email/subscriptions/single-page/new&quot;}">
        <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          height="18" width="18" viewBox="0 0 459.334 459.334">
          <path fill="currentColor"
            d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z">
          </path>
        </svg><span class="gem-c-single-page-notication-button__text" style="color: #1d70b8; cursor: pointer;">Get emails about this page</span>
      </button>
    </form>
  </div>


  <div class="govuk-grid-row gem-print-columns-none">
    <div class="govuk-grid-column-two-thirds">

      <section data-ga4-devolved-nations-banner="England" data-module="ga4-link-tracker" data-ga4-track-links-only=""
        data-ga4-set-indexes=""
        data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;devolved nations banner&quot;,&quot;section&quot;:&quot;Applies to England&quot;}"
        aria-label="Nation" class="gem-c-devolved-nations" style="background: #f3f2f1; margin-bottom: 50px; padding: 20px 30px;" data-ga4-link-tracker-module-started="true">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
          Applies to England
        </h2>
      </section>

      <div id="contents" data-module="contents-list-with-body" class="gem-c-contents-list-with-body"
        data-contents-list-with-body-module-started="true">
        <div class="gem-c-contents-list-with-body__list-container" style="margin-bottom: 50px;">
          <nav data-module="ga4-link-tracker" aria-label="Contents" class="gem-c-contents-list govuk-!-margin-bottom-4"
            data-ga4-link-tracker-module-started="true">
            <h2 class="gem-c-contents-list__title govuk-body-s">
              Contents
            </h2>
            <ol class="gem-c-contents-list__list" style="margin: 0;padding: 0; list-style-type: none;">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles govuk-link--no-underline"
                  data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:1}"
                  href="#who-should-use-this-service">Who should use this service</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles govuk-link--no-underline"
                  data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:3}"
                  href="#before-you-apply">Before you apply</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles govuk-link--no-underline"
                  data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:4}"
                  href="#growing-your-academy-trust">Growing your academy trust</a>
              </li>
            </ol>
          </nav>
        </div>

        <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-bottom-6">
          <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link"
            data-print-link-module-started="true">Print this page</button>
        </div>

        <div data-module="govspeak" class="gem-c-govspeak govuk-govspeak govuk-!-margin-bottom-0"
          data-govspeak-module-started="true">

          <div class="govspeak">
            <h2 id="who-should-use-this-service" class="govuk-heading-m">Who should use this service</h2>

            <ul class="govuk-list govuk-list--bullet">
              <li>Multi-academy trusts (<abbr title="multi-academy trusts">MATs</abbr>) that want to add an academy or
                academies from single academy trusts (<abbr title="single academy trusts">SATs</abbr>)
              </li>
              <li>
                <abbr title="multi-academy trusts">MATs</abbr> that want to add an academy or academies from a different
                <abbr title="multi-academy trust">MAT</abbr>
              </li>
              <li>
                <abbr title="multi-academy trusts">MATs</abbr> merging or consolidating, where all the academies from
                one trust are transferring to another trust
              </li>
            </ul>
            
            <p class="govuk-body">
              For all other types of transfer use the guidance on
              <a href="https://www.gov.uk/government/publications/academy-transfers-information-for-academy-trusts" class="govuk-link">academy transfers</a>.
            </p>

            <h2 id="before-you-apply" class="govuk-heading-m">Before you apply</h2>
            
            <p class="govuk-body">Make sure the lead applicant completes the application.</p>
            <p class="govuk-body">The lead applicant:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>should be a representative from the trust that academies are joining</li>
              <li>can invite anyone involved in the transfer to help complete this application</li>
            </ul>
            
            <p class="govuk-body">
              The chair of trustees from all trusts involved in the transfer must also sign a declaration.
            </p>
            
            <h3 id="what-you-will-need" class="govuk-heading-s">What you will need</h3>
            
            <p class="govuk-body">Before you start your application you will need the:</p>
            
            <ul class="govuk-list govuk-list--bullet">
              <li>names of the academies involved, including unique reference numbers</li>
              <li>names of trustees and members</li>
              <li>date you want to transfer</li>
            </ul>

            <a href="/applications/dashboard" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" id="start-application-button">
              Start now
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg>
            </a>
            
            <h2 id="growing-your-academy-trust" class="govuk-heading-m">Growing your academy trust</h2>
            
            <p class="govuk-body">
              All plans to grow an academy trust will need to be agreed by the
              <a href="https://www.gov.uk/government/organisations/regional-department-for-education-dfe-directors/about" class="govuk-link">regions group</a>
              for your area. The following guidance has useful information:
            </p>
            
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="https://www.gov.uk/government/publications/multi-academy-trusts-establishing-and-developing-your-trust"
                   class="govuk-link">Multi-academy trusts: establishing and developing your trust</a>
              </li>
              <li>
                <a href="https://www.gov.uk/government/publications/commissioning-high-quality-trusts"
                   class="govuk-link">Commissioning high-quality trusts</a>:
                how DfE makes academy trust commissioning decisions and the 5 pillars of strong trusts
              </li>
              <li>
                <a href="https://www.gov.uk/government/publications/academy-transfers-information-for-academy-trusts"
                   class="govuk-link">Academy transfers: information for academy trusts</a>:
                information for existing <abbr title="single academy trusts">SATs</abbr> or <abbr
                  title="multi-academy trusts">MATs</abbr> that want to add academies from another <abbr
                  title="single academy trust">SAT</abbr> or <abbr title="multi-academy trust">MAT</abbr>
              </li>
            </ul>
          </div>
        </div>



        <div class="published-dates-button-group">
          <h2 class="govuk-visually-hidden">
            Sign up for emails or print this page
          </h2>

          <div data-button-location="bottom" data-button-text-subscribe="Get emails about this page"
            data-button-text-unsubscribe="Stop getting emails about this page" data-module="ga4-link-tracker"
            class="gem-c-single-page-notification-button govuk-!-display-none-print govuk-!-margin-bottom-3"
            data-ga4-link-tracker-module-started="true">
            <form action="/email/subscriptions/single-page/new" method="POST">
              <input type="hidden" name="base_path" value="/guidance/apply-to-transfer-an-academy-to-another-trust">
              <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit"
                data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;subscribe&quot;,&quot;index_link&quot;:2,&quot;index_total&quot;:2,&quot;section&quot;:&quot;Footer&quot;,&quot;url&quot;:&quot;/email/subscriptions/single-page/new&quot;}">
                <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334">
                  <path fill="currentColor"
                    d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z">
                  </path>
                </svg><span class="gem-c-single-page-notication-button__text">Get emails about this page</span>
              </button>
            </form>
          </div>
          <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-bottom-8">
            <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link"
              data-print-link-module-started="true">Print this page</button>
          </div>
        </div>



        <div data-sticky-element=""
          class="gem-c-contents-list-with-body__link-wrapper gem-c-contents-list-with-body__sticky-element--hidden gem-c-contents-list-with-body__sticky-element--stuck-to-window gem-c-contents-list-with-body__sticky-element--enabled">
          <div class="gem-c-contents-list-with-body__link-container">

            <a class="govuk-link gem-c-back-to-top-link govuk-!-display-none-print" href="#contents">
              <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
                viewBox="0 0 13 17" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
              </svg>
              Contents
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">

      <div class="gem-c-contextual-sidebar govuk-!-display-none-print"></div>
    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-contextual-footer govuk-!-display-none-print">
        <div data-module="ga4-link-tracker" class="gem-c-related-navigation govuk-!-display-none-print"
          data-ga4-link-tracker-module-started="true">



          <nav class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-8d52971e"
            data-module="gem-toggle" data-gem-toggle-module-started="true">

          </nav>

        </div>
      </div>

    </div>
  </div>

</main>
