@page
@using GovUk.Frontend.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.Authorization
@addTagHelper *, DfE.CoreLibs.Security
@model IndexModel
@inject IAuthorizationService AuthService

@{
    ViewData["Title"] = "Transfer academies to another academy trust";
}

<div class="text-center">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
                Transfer academies to another trust
            </h1>
            <h2 class="govuk-heading-l">What this service is for</h2>
            <p class="govuk-body">This service is for single and multi-academy trusts (SATs and MATs) wanting to transfer academies to another trust. </p>
            <p class="govuk-body">This includes:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>merging a SAT with a MAT</li>
                <li>moving academies from a MAT into another MAT</li>
                <li>merging a MAT with another MAT</li>
            </ul>

            <h2 class="govuk-heading-l">What this service is not for</h2>
            <p class="govuk-body">This service is <strong>not</strong> for:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>MATs wanting to add schools that are not academies</li>
                <li>groups of maintained schools forming a MAT</li>
            </ul>

            <p class="govuk-body">You will first need to <a class="govuk-link" href="https://www.gov.uk/government/publications/academy-conversion-application-forms">apply to convert the schools into academies</a>.</p>

            <h2 class="govuk-heading-l">Before you start</h2>
            <p class="govuk-body">You'll need:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>details about the new trust’s financial planning approach</li>
                <li>a diagram of your proposed MAT governance structure</li>
                <li>a resolution from the relevant academy trust board for the transfer</li>

            </ul>
            <p class="govuk-body">We recommend reading the <a class="govuk-link" href="/alpha-sprint-12/govuk-guide-for-schools">guidance on transferring academies to another trust</a> to give us the best chance of approving your application.</p>
            <p></p>
            <p>
                <a href="/dashboard" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Start
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </a>
            </p>
        </div>
    </div>

    

</div>