@page
@model IndexModel
@{
    ViewData["Title"] = "Transfer academies to another academy trust";
}

<div class="text-center">

    <p>
        Hello, <strong>@Model.FirstName @Model.LastName</strong><br />
        Your email is <strong>@Model.Email</strong>.<br/>
        Your organisation is <strong>@Model.OrganisationName</strong>.

    </p>

</div>
<govuk-button-link is-start-button="true" href="/render-form">Start new application</govuk-button-link>